<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">logout</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_receipt' %}">create receipt</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_account' %}">create account</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_category' %}">create category</a>
                    {% endif %}
                </li>
                <li>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'signup' %}">signup</a>
                    {% endif %}
                </li>
                <li>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}">login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Account</h1>
            <form method="post">
                {% csrf_token %}
                Category: <input type="text" name="name"><br>
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>
