<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">logout</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_receipt' %}">create receipt</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_account' %}">create account</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_category' %}">create category</a>
                    {% endif %}
                </li>
                <li>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'signup' %}">signup</a>
                    {% endif %}
                </li>
                <li>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}">login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1> My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt_list in receipt_list.all %}
                <tr>
                    <td>{{receipt_list.vendor}}</td>
                    <td>{{receipt_list.total}}</td>
                    <td>{{receipt_list.tax}}</td>
                    <td>{{receipt_list.date|date:"m/d/y"}}</td>
                    <td>{{receipt_list.category.name}}</td>
                    <td>{{receipt_list.account.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>

</body>

</html>
